[Unit]
Description= {{ service_description }}
After=syslog.target network.target

[Service]
Restart=always
Type=simple
User= {{ service_user }}
Environment= {{ service_environment }}
WorkDirectory= {{ service_workdir }}
ExecStart= {{ service_execstart }}
ExecStop= {{ service_execstop }}

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target