[Unit]
Description= {{ service_description }}
After={{ service_after }} # <- template version 2.0

[Service]
Restart=always
Type=simple
User= {{ service_user }}
Environment= {{ service_environment }}
WorkDirectory= {{ service_workdir }}
ExecStart= {{ service_execstart }}
ExecStop= {{ service_execstop }}

Restart= {{ service_restart }}
RestartSec=10

[Install]
WantedBy=multi-user.target